*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body{
    background-color: black;
}



.container{

    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #d3a5a5;
    border-radius: 10px;

}

.container p{

    font-weight: 600;
    color:black;
    margin-bottom: 8pxS;
    
}

.container input{

    border: 1px solid black;
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
}

.container button{

    width: 50%;
    height: 100%;
    background: #494eea;
    color: beige;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 20px 0;
    font-weight: 500;
}
.container:hover {

    background-color: rgb(137, 43, 56);
    transition: 0.5s;
}
/* #ImgBox{
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ;
}

#ImgBox img{
    width: 100%;
    padding: 10px;
}

#imgBox.show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
} */